{% extends "layout.html" %}

{% block title %}
    Artykuły do hejtso
{% endblock %}

{% block body %}
    <h1>Lista artykułów</h1>
<h2>- - - - - - - -</h2>

                {% for article in articles[1:] %}
                    {{ article.title }}<br>
                    {{ article.translation }} <br>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.gettyimages.com/">
                        Getty >>> </a><br>
                    {{ article.file }}<br>
                    - - - - - <br>
                {% endfor %}



{% endblock %}
